.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 12px 8px 0;
}

.mat-header-cell {
  padding: 8px 12px 8px 0;
}

.mat-header-cell.mat-column-link {
  padding-left: 16px;
}

.mat-table {
  width: 100%;
}

.table-container {
  max-width: 100%;
  overflow: auto;
  box-shadow: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-bottom: none;
}

.mat-paginator {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-width: 1px;
  border-style: solid;
}

.button-container {
  padding-top: 3px;
  padding-bottom: 1.59375em;
  min-height: 82.13px;
}

.mat-stroked-button {
  height: 100%;
  padding: 0 32px;
}

.filter-button-container {
  padding-bottom: 8px;
}
